/* Colors */
$yellow: #f4d04e;
$black: #000;
$white: #fff;
$grey: #7f7f7f;

/* Typography */
$font-small: 12px;
$font-base: 14px;
$font-medium: 16px;
$font-heading-mobile: 20px;
$font-heading: 24px;

/* Border Radius */
$radius-small: 4px;
$radius-large: 20px;
