@mixin font-medium($size, $height, $spacing) {
  font-size: $size;
  line-height: $height;
  letter-spacing: $spacing;
}

@mixin flex-layout($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}
