$primary-color: #a294f9;
$secondary-color: #ff8000;
$tertiary-color: #219b9d;
$text-color: #333;

/* Fonts */
$fz-1: 1rem;
$fz-2: 1.2rem;

/* Margin */
$mg-1: 1rem;
$mg-2: 1.5rem;
$mg-3: 2rem;
$mt-1: 1rem;
$mt-2: 1.5rem;
$mt-3: 2rem;
